<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-product-list [products]="products">
        <h1 class="header">70% de réduction sur vos achats</h1>
        <a href="#" class="btn btn-success link">Visiter le site...</a>
      </app-product-list>
    </div>
    <div class="col-md-6">
      <app-product-list [consommables]="consommables">
        <h1 class="header">50% de réduction sur vos achats</h1>
        <a href="#" class="btn btn-success link">Voir plus de produits...</a>
      </app-product-list>
    </div>
  </div>
</div>
